@mixin flex-default(
  $justify-content: "center",
  $align-items: "center",
  $text-align: "center",
  $flex-direction: "row",
  $flex-wrap: "nowrap"
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  text-align: $text-align;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

@mixin text_dmsans($font-size: 4rem, $font-weight: 400, $color: red) {
  font-family: "DM Sans", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

@mixin text_poppins($font-size: 4rem, $font-weight: 400, $color: red) {
  font-family: "Poppins", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

@mixin button_green {
  border: 0;
  border-radius: 32px;
  background-color: $color-green;
  font-family: "DM Sans", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  color: $color-main-white;
  cursor: pointer;
  &:hover {
    background-color: green;
  }
  a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }
}

@mixin button_transp {
  border: 1px solid $color-header;
  border-radius: 32px;
  background-color: transparent;
  font-family: "DM Sans", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  color: $color-header;
  cursor: pointer;
  &:hover {
    border: 0px;
    background-color: $color-header;
    color: $color-main-white;
  }
  a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }
}
