@import "./variables";
@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Mozilla+Text:wght@200..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

// font-family: "DM Sans", sans-serif;
// font-family: "Poppins", sans-serif;

// Make header sticky and buttons hover
// Make brands scroll

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 4px;
  // border: 1px solid red;
  // For cheking borders
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  width: 100%;
  height: 166px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  &_top {
    width: 100%;
    height: 82px;
    @include flex-default(center, center, center, row, nowrap);
    background-color: $color-header;
    padding: 22px 61.5px;

    &_left {
      width: 50%;
      height: 100%;
      @include flex-default(left, center, center, row, nowrap);
      gap: 30px;
      &_phone {
        @include flex-default(left, center, center, row, nowrap);
        gap: 4px;
        span {
          @include text_dmsans(4rem, 600, $color-main-white);
        }
      }
    }

    &_right {
      width: 50%;
      height: 100%;
      @include flex-default(right, center, center, row, nowrap);
      gap: 32px;

      &_lang {
        width: 28px;
        height: 28px;
      }

      &_buttons {
        @include flex-default(center, center, center, row, nowrap);

        &_button1 {
          width: 159px;
          height: 38px;
          @include button_green;
        }

        &_button2 {
          width: 98px;
          height: 38px;
          @include button_green;
        }
        gap: 16px;

        &_mobile {
          display: none;
        }
      }
    }
  }

  &_bottom {
    width: 100%;
    height: 84px;
    background-color: $color-main-white;
    @include flex-default(space-between, center, center, row, nowrap);
    padding: 0 60px;
    &_left_menu {
      @include flex-default(left, center, center, row, nowrap);
      gap: 30px;
      &_item_link {
        @include text_dmsans(4rem, 500, #353535);
      }
    }
    &_right {
      @include flex-default(right, center, center, row, nowrap);
      position: relative;
      &_img {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 20px;
        // I don't know yet how to make it, like tag a, or button, or leave it as a photo
      }
      &_input {
        width: 395px;
        height: 50px;
        border-radius: 100px;
        background-color: #f5f5f5;
        border: 0px;
        padding: 0 50px;
        @include text_dmsans(4.5rem, 400, $color-main-black);
      }
      &_input::placeholder {
        @include text_dmsans(4.5rem, 400, #c0c0c0);
      }
    }
  }
}

.banner {
  width: 100%;
  height: 590px;
  background-image: url(./pics/banner1.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  &_icon {
    position: absolute;
    right: 60px;
    bottom: 20px;
  }
}

.floors {
  width: 100%;
  height: auto;
  padding: 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
  &_item {
    @include flex-default(center, center, center, column, nowrap);
    gap: 30px;
    h2 {
      @include text_dmsans(10rem, 600, #0f1747);
      width: 466px;
    }
    p {
      @include text_dmsans(4rem, 600, $color-main-black);
      width: 466px;
    }
    &_buttons {
      @include flex-default(center, center, center, row, nowrap);
      width: 466px;
      gap: 30px;
      button:first-child {
        @include button_green;
        width: 129px;
        height: 38px;
      }
      button {
        @include button_transp;
        width: 117px;
        height: 38px;
      }
    }
  }

  &_item1 {
    background-image: linear-gradient(#6190e833, #a7bfe81a);
    grid-column: span 2;
    height: 775px;
    img {
      width: 678px;
      height: 343px;
    }
  }
  &_item2 {
    background-image: linear-gradient(#2830484d, #8593984d);
    height: 718px;
    img {
      width: 450px;
      height: 316px;
    }
  }
  &_item3 {
    background-image: linear-gradient(#334d5066, #cbcaa54d);
    height: 718px;
    img {
      width: 450px;
      height: 316px;
    }
  }
  &_item4 {
    background-image: linear-gradient(
      #ada9964d,
      #f2f2f2a8,
      #e7e7e7b0,
      #eaeaeac2
    );
    grid-column: span 2;
    height: 775px;
    img {
      width: 656px;
      height: 327px;
    }
  }
  &_item5 {
    background-image: linear-gradient(#3e515166, #decba44d);
    height: 718px;
    img {
      width: 450px;
      height: 316px;
    }
  }
  &_item6 {
    background-image: linear-gradient(#cbcaa54d, #334d5066);
    height: 718px;
    img {
      width: 450px;
      height: 316px;
    }
  }
  &_item7 {
    background-image: linear-gradient(#1c92d24d, #f2fcfe4d);
    grid-column: span 2;
    height: 775px;
    img {
      width: 656px;
      height: 327px;
    }
  }
}

.brands {
  width: 100%;
  height: 246px;
  margin: 100px 0;
  @include flex-default(center, center, center, column, nowrap);
  margin: 50px 0 30px 0;
  h2 {
    @include text_dmsans(10rem, 600, $color-header);
  }
  p {
    margin: 25px 0 70px 0;
    @include text_dmsans(3.5rem, 300, #5a6456);
  }
  &_logos {
    width: 100%;
    overflow: hidden;
    height: 72px;
    @include flex-default(center, center, center, row, nowrap);
    gap: 76px;
  }
}

.coverage {
  width: 100%;
  height: 694px;
  @include flex-default(center, center, center, row, nowrap);

  &_text {
    width: 50%;
    height: 100%;
    background-color: #0b1420;
    padding: 98px 74px;

    @include flex-default(left, flex-start, left, column, nowrap);
    h2 {
      @include text_dmsans(12.5rem, 600, $color-main-white);
      width: 420px;
    }
    p {
      @include text_dmsans(4rem, 400, #e5e5e5);
      width: 420px;
      margin: 29px 0 45px 0;
    }
    &_card {
      width: 366px;
      height: 303px;
      border-radius: 20px;
      background-color: #f1f1f1;
      padding: 16px;
      h2 {
        @include text_dmsans(5rem, 600, #0f1747);
      }
      p {
        @include text_dmsans(4rem, 400, #151515);
        margin: 19px 0 17px 0;
      }
      img {
        width: 335px;
        height: 183px;
        border-radius: 10px;
      }
    }
  }
  &_map {
    width: 50%;
    height: 100%;
  }
}

.testimonials {
  width: 100%;
  height: 681px;
  margin: 100px 0;
  @include flex-default(center, center, center, column, nowrap);
  h2 {
    @include text_dmsans(10rem, 600, $color-header);
    width: 480px;
  }
  p {
    @include text_dmsans(3.5rem, 300, #5a6456);
    width: 480px;
    margin: 20px 0 70px 0;
  }
  &_materials {
    width: 100%;
    height: 507px;
    @include flex-default(left, center, center, column, wrap);
    gap: 36px;
    overflow: hidden;
    &_video {
      width: 296px;
      height: 507px;
      border-radius: 32px;
      border: 1px solid black;
      object-fit: cover;
    }
  }
}

.blog {
  width: 100%;
  height: 800px;
  padding: 0 60px 100px 60px;
  @include flex-default(center, center, center, column, nowrap);
  h2 {
    @include text_dmsans(10rem, 600, $color-header);
  }
  p {
    @include text_dmsans(3.5rem, 300, #5a6456);
    width: 480px;
    margin: 20px 0 85px 0;
  }
  &_link {
    @include text_dmsans(5rem, 500, $color-header);
    text-align: right;
    align-self: flex-end;
    text-decoration: underline;
    margin-bottom: 35px;
  }
  &_link_mobile {
    display: none;
  }
  &_cards {
    @include flex-default(center, center, center, row, nowrap);
    gap: 20px;
    &_card {
      @include flex-default(center, center, left, column, nowrap);
      width: 427px;
      height: 366px;
      position: relative;
      img {
        width: 100%;
        height: 284px;
        border-radius: 16px;
      }
      &_date {
        width: 121px;
        height: 29px;
        background-color: $color-header;
        border-radius: 19px;
        @include text_dmsans(2.5rem, 400, $color-main-white);
        align-self: flex-start;
        @include flex-default(center, center, center, row, nowrap);
        position: absolute;
        left: 40px;
        top: 260px;
        p {
          @include text_dmsans(2.5rem, 400, $color-main-white);
          padding-top: 65px;
        }
        img {
          width: 14px;
          height: 14px;
          color: $color-main-white;
          margin-left: 15px;
        }
      }
      h2 {
        @include text_dmsans(5rem, 600, #4a4a4a);
        margin-top: 44px;
      }
    }
  }
  &_buttonmobile {
    @include button_transp;
    width: 167px;
    height: 44px;
    margin-top: 30px;
    display: none;
  }
}

.footer {
  width: 100%;
  height: 579px;
  padding: 64px 80px 0 80px;
  border-top: 1px solid #e6e6e6;
  @include flex-default(center, flex-start, center, column, nowrap);
  &_top {
    @include flex-default(left, flex-start, left, row, nowrap);
    gap: 100px;
    width: 100%;
    height: 236px;
    margin-bottom: 44px;
    &_navs {
      @include flex-default(center, flex-start, left, row, nowrap);
      gap: 60px;
      width: auto;
      &_nav {
        &_menu {
          padding: 12px 0;
          width: auto;
          height: auto;
          @include flex-default(left, flex-start, left, column, nowrap);
          gap: 12px;
          &_item {
            @include text_dmsans(4rem, 600, $color-main-black);
            &_link {
              @include text_dmsans(3.5rem, 400, #000000cc);
            }
          }
        }
      }
    }
  }
  &_logos {
    width: 100%;
    height: 170px;
    border-top: 1px solid #e6e6e6;
    @include flex-default(center, center, center, row, nowrap);
    gap: 64px;
  }
  &_media {
    width: 100%;
    height: 65px;
    border-top: 1px solid #e6e6e6;
    @include flex-default(space-between, center, center, row, nowrap);
    p {
      @include text_poppins(3rem, 400, #a6a7ab);
    }
    &_logos {
      @include flex-default(space-between, center, center, row, nowrap);
      gap: 16px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 125px;
    &_top {
      height: 125px;
      padding: 0 16px;
      &_left_phone {
        display: none;
      }
      &_right {
        gap: 31px;
        &_buttons {
          button {
            display: none;
          }
          img {
            display: flex;
            gap: 31px;
          }
        }
      }
    }
    &_bottom {
      display: none;
    }
  }

  .banner {
    width: calc(100% - 32px);
    height: 723px;
    overflow: hidden;
    background-size: cover;
    margin: 16px 16px 0 16px;
    &_icon {
      display: none;
    }
  }

  .floors {
    @include flex-default(center, center, center, column, nowrap);
    gap: 16px;

    &_item {
      width: 100%;
      height: 551px;
      margin: 0 16px;
      h2 {
        font-size: 7rem;
        width: 100%;
      }
      p {
        font-size: 3.5rem;
        width: 300px;
        max-width: 70%;
      }
      &_buttons {
        width: 100%;
        button {
          width: 129px;
          height: 44px;
        }
      }
      img {
        width: 330px;
        height: 230px;
        max-width: 90%
      }
    }
  }

  .brands {
    h2 {
      @include text_dmsans(7rem, 600, #0f1747);
    }
    p {
      @include text_dmsans(3.5rem, 400, $color-main-black);
      width: 290px;
    }
  }

  .coverage {
    &_text {
      display: none;
    }
    &_map {
      width: 100%;
    }
  }
  .testimonials {
    height: 770px;
    h2 {
      @include text_dmsans(7rem, 600, #0f1747);
      width: 285px;
    }
    p {
      @include text_dmsans(3.5rem, 400, $color-main-black);
      margin: 74px 0 40px 0;
      width: 285px;
    }
  }

  .blog {
    padding: 16px;
    height: 1600px;
    h2 {
      @include text_dmsans(7rem, 600, $color-header);
    }
    p {
      @include text_dmsans(3.5rem, 400, $color-main-black);
      margin: 10px 0 40px 0;
      width: 285px;
    }
    &_link_mobile {
      display: inline !important;
    }
    &_link {
      display: none;
    }
    &_cards {
      @include flex-default(center, center, center, column, nowrap);
      gap: 100px;
      &_card {
        width: 100%;
        img {
          width: 100%;
          height: auto;
          max-width: 400px;
        }
        h2 {
          @include text_dmsans(5rem, 600, #4a4a4a);
          width: 100%;
        }
        &_date {
          left: 22px;
          top: 250px;
          p {
            @include text_dmsans(3rem, 400, $color-main-white);
            padding-bottom: 33px;
          }
          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    &_buttonmobile {
      display: block;
    }
  }

  .footer {
    padding: 24px 16px;
    height: auto;
    @include flex-default(flex-start, flex-start, center, column, wrap);
    &_top {
      height: auto;
      &_logo {
        display: none;
      }
      &_navs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: auto;
        width: 100%;
        gap: 24px 35px;
      }
    }
    &_logos {
      width: 100%;
      @include flex-default(flex-start, flex-start, left, row, wrap);
      gap: 0px;
      img {
        transform: scale(0.5);
      }
    }
    &_media {
      width: 100%;
      margin-top: 24px;
      padding-top: 24px;
      @include flex-default(center, center, left, column-reverse, wrap);
      gap: 24px;
      height: auto;
      p {
        width: 100%;
        align-self: flex-start;
      }
      &_logos {
        width: 100%;
        gap: 30px;
        &_item {
          img {
            width: 40px;
            height: 40px;
          }
        }
        &_item:nth-child(5) {
          img {
            display: none;
          }
        }
      }
    }
  }
}
