* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
  color: black;
  font-size: 1rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(red, white);
}

.profiles-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 20px;
}

.profile-card {
  border: 3px solid black;
  border-radius: 8px;
  padding: 15px;
  width: 200px;
  cursor: pointer;
}
