* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #69e7cf, #497ee4);
}

.boxMain {
  background: white;
  width: 400px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

.boxMain h2 {
  text-align: left;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 12px;
  font-size: 15px;
  outline: none;
}

.addButton {
  background-color: #8e4be6;
  border: none;
  width: 55px;
  height: 45px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.addIcon {
  width: 22px;
  height: 22px;
}

.todoContainer {
  min-height: 150px;
  max-height: 350px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.todoList {
  list-style: none;
}

.todoItem {
  background: #f2f2f2;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 15px;
  display: grid;
  /* I did it this way because the text could cover the button. */
  grid-template-columns: 1fr auto;
  gap: 8px;
  align-items: flex-start;
}

.text {
  display: block;
  /* To make the text go to a new line */
  word-break: break-word;
}

.deleteButton {
  background: #e74c3c;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteIcon {
  width: 18px;
  height: 18px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer span {
  font-size: 14px;
}

.clearAll {
  background-color: #8e4be6;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 8px 18px;
  cursor: pointer;
  font-size: 14px;
}
