body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f6fa;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: gray;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 24px;
  border-radius: 14px;
  margin-bottom: 20px;
}

input {
  width: 95%;
  padding: 12px;
  margin: 6px 0 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.employeeRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border-radius: 12px;
  background: #f9fafb;
}

.employeeInfo {
  display: flex;
  flex-direction: column;
}

.employeeName {
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
}

.employeePosition {
  margin: 0;
  font-size: 14px;
  color: gray;
}

.deleteBtn {
  background: #fee2e2;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: auto;
}

.deleteBtn img {
  width: 18px;
  height: 18px;
  filter: invert(18%) sepia(92%) saturate(7466%) hue-rotate(357deg)
    brightness(95%) contrast(112%);
}

.empty {
  text-align: center;
  color: gray;
}
