$font-size-norm: 16px;
$font-size-big: 72px;

$color-blue: #007CC2;
$color-green: #A4C14D;
$color-yellow: #FED501;
$color-red: #FF5D37;
$color-black: #211F1F;
$color-black2: #100D0B;
$color-gray-black: #101828;
$color-gray: #667085;
$color-cream: #FDF8F2;
$color-white: #F9FAFB;
$color-whitetop: white;

$font-style-main: "Fraunces", serif;
