@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Mozilla+Text:wght@200..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* This font could only be placed here, but it will not always be the same everywhere. */
  /* font-family: "Work Sans", sans-serif; */
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  /* it doesn't work any other way */
  padding: 0 112px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}

h1 {
  color: #2947a9;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: italic;
}

h1::before {
  content: url(./phtos/logo2.svg);
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

h1::after {
  content: "Box";
  font-style: normal;
}

ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

a {
  text-decoration: none;
}

.header_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.header_menu_item a {
  font-weight: 600;
  font-size: 18px;
  color: #14171f;
  font-family: "Work Sans", sans-serif;
  transition: 1s;
}

.header_menu_item_spec a {
  color: #f9995d;
}

.header_menu_item a:hover {
  color: #2947a9;
  font-size: 25px;
  transition-duration: 1s;
}

.banner {
  background-image: url(./phtos/banner1.jpg);
  width: 100%;
  height: 646px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  /* opacity: 60%; */
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4) 25%,
    none 100%
  );
  z-index: 1;
}

.banner_left {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 72px;
  align-self: center;
  margin-left: 112px;
  width: 556px;
  position: relative;
  z-index: 2;
}

.banner_right {
  color: white;
  text-align: center;
  background-color: #3559c7;
  width: 416px;
  height: 190px;
  padding: 20px 0 0 0;
  align-self: flex-end;
  position: relative;
  z-index: 2;
}

.banner_right h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.banner_right p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 26px 0;
}

.banner_right_buttons {
  display: flex;
}

.banner_right_buttons button {
  width: 208px;
  height: 40px;
  border: 0px;
  background-color: #292e3d;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.banner_right_buttons button:first-child {
  border-right: 1px solid white;
}

.banner_right_buttons button:hover {
  color: red;
  background-color: #404e77;
}

.reputation {
  width: 100%;
  height: 433px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.reputation_head {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.reputation_box {
  width: 292px;
  height: 197px;
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  padding: 20px;
  transition: 1s;
}

.reputation_boxes {
  display: flex;
  justify-content: center;
  gap: 66px;
}

.reputation_box h2 {
  color: #3d445c;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 18px 0;
}

.reputation_box p {
  color: #858ead;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.reputation_box:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 1s;
}

.aboutus {
  width: 100%;
  height: 945px;
  display: flex;
  position: relative;
  align-items: center;
  margin: 100px 0;
}

.aboutus img {
  /* width: 902px;
  height: 669px; */
  width: 1202px;
  height: 892px;
  position: absolute;
  left: 152px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.aboutus_box {
  background-color: #2947a9;
  width: 488px;
  height: 523px;
  padding: 50px 40px;
  color: white;
  position: absolute;
  right: 250px;
}

.aboutus_box h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 37px;
}

.aboutus_box p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.aboutus_box_button {
  width: 219px;
  height: 53px;
  border-radius: 6px;
  background-color: white;
  margin: 90px 0 26px 0;
  cursor: pointer;
}

.aboutus_box_button a {
  color: #2947a9;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.services {
  width: 100%;
  height: 608px;
  background-color: #f6f8f7;
  text-align: center;
}

.services h2 {
  color: #292e3d;
  font-size: 36px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  padding-top: 44px;
}

.services_boxes {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin: 36px 0 48px 0;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.services_box1 {
  width: 271px;
  height: 181px;
  background-color: white;
  color: #2947a9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 1s;
}

.services_box2 {
  width: 271px;
  height: 181px;
  background-color: #2947a9;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 1s;
}

.services_box1 hr,
.services_box2 hr {
  width: 60px;
  height: 2px;
  color: #e0e3eb;
  align-self: center;
}

.services_box1 img,
.services_box2 img {
  width: 40px;
  height: 40px;
  align-self: center;
}

.services_box1:hover,
.services_box2:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: 1s;
}

.experience {
  width: 100%;
  height: 723px;
  padding: 50px;
  display: flex;
}

.experience_cards {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.experience_card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 30px;
  height: 170px;
  position: absolute;
}

.experience_card h2 {
  color: #292e3d;
  font-family: "Work Sans", sans-serif;
  font-size: 72px;
  font-weight: 600;
  text-align: left;
}

.experience_card p {
  color: #667299;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  /* text-align: center; */
  margin-left: 16px;
  border-left: 7px solid #f9995d;
  padding-left: 12px;
}

.e_card1 {
  width: 280px;
  top: 0;
  right: 245px;
  z-index: 2;
  background-color: white;
}

.e_card2 {
  width: 360px;
  top: 115px;
  z-index: 1;
}

.e_card3 {
  width: 280px;
  top: 270px;
  right: 290px;
  z-index: 2;
  background-color: white;
}

.e_card4 {
  width: 340px;
  top: 390px;
  right: 430px;
  z-index: 1;
}

.e_card1_img,
.e_card2_img,
.e_card3_img,
.e_card4_img {
  position: relative;
  z-index: 3;
}

.e_card1_img img {
  position: absolute;
  top: -165px;
  right: -55px;
}

.e_card2_img img {
  position: absolute;
  top: -190px;
  left: -70px;
}

.e_card3_img img {
  position: absolute;
  top: -156px;
  right: -50px;
}

.e_card4_img img {
  position: absolute;
  top: -13px;
  right: -70px;
}

.experience_info {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience_info h2 {
  color: #2947a9;
  font-family: "Work Sans", sans-serif;
  font-size: 60px;
  font-weight: 700;
}

.experience_info p {
  margin: 40px 0;
  width: 400px;
  height: 75px;
  color: #525b7a;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.experience_info button {
  width: 175px;
  height: 55px;
  background-color: #2947a9;
  transition: 0.5s;
  border-radius: 2px;
  border: 0px;
}

.experience_info button:hover {
  background-color: gray;
  color: red;
  transition: 0.2s;
}

.experience_info_button_cite {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.consultation {
  width: 100%;
  height: 300px;
  background-image: url(./phtos/banner2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  color: white;
  justify-content: center;
  gap: 182px;
  position: relative;
}

.consultation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.consultation_info h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}

.consultation_info span {
  font-size: 24px;
  font-weight: 400;
  position: relative;
  z-index: 2;
}

#consultation_info_number {
  text-decoration: underline;
}

.consultation_button button {
  width: 232px;
  height: 53px;
  padding: 16px 20px;
  background: transparent;
  border: 2px solid white;
  border-radius: 2px;
  transition: 1s;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

#consultation_button_link {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.consultation_button button:hover {
  background-color: gray;
  border-color: #3559c7;
  transition: 0.2s;
}

.projects {
  width: 100%;
  height: 1100px;
  padding: 100px;
  position: relative;
}

.projects h2 {
  font-family: "Work Sans", sans-serif;
  color: #292e3d;
  font-weight: 700;
  font-size: 36px;
  width: 100%;
  height: 42px;
  margin-bottom: 40px;
}

.projects_navboxes {
  display: flex;
}

.projects_nav {
  width: 800px;
  height: 800px;
}

.projects_nav ul {
  display: flex;
  flex-direction: column;
}

.projects_nav ul li a {
  font-family: "Work Sans", sans-serif;
  color: #c2c7d6;
  font-weight: 500;
  font-size: 24px;
  transition: 1s;
  padding-left: 16px;
}

.projects_nav ul li a:hover {
  color: #2947a9;
  font-weight: 700;
  transition: 0.2s;
  border-left: 4px solid #2947a9;
}

.projects_cards {
  width: 920px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects_card {
  width: 400px;
  height: 350px;
  background-color: #2947a9;
  color: white;
  font-family: "Work Sans", sans-serif;
  transition: 1s;
}

.projects_card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 1s;
}

.projects_card img {
  width: 400px;
  height: 250px;
}

.projects_card h2 {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 12px 12px;
  margin: 0;
}

.projects_card p {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 12px 12px;
}

.projects_buttons {
  display: flex;
  width: 830px;
  height: 64px;
  position: absolute;
  left: 900px;
  gap: 43px;
  justify-content: space-between;
  align-items: center;
}

.projects_buttons button {
  width: 300px;
  height: 100%;
  background-color: #292e3d;
  border-radius: 0;
  color: white;
  cursor: pointer;
  border: 0px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.projects_buttons button:hover {
  color: red;
  background-color: #1a2d66;
}

.projects_buttons_radios {
  width: 144px;
  height: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.projects_buttons_radios input {
  width: 16px;
  height: 16px;
  background-color: #f6f8f7;
  border-radius: 50%;
}

.form {
  width: 100%;
  height: 632px;
  font-family: "Work Sans", sans-serif;
  background-color: #f6f8f7;
  display: flex;
  flex-direction: column;
}

.form h2 {
  font-weight: 700;
  font-size: 36px;
  padding-top: 60px;
  text-align: center;
}

.form p {
  font-weight: 400;
  font-size: 20px;
  padding: 20px 0 38px 0;
  text-align: center;
}

.form_form {
  width: 600px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: center;
}

.form_form span {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #a3aac2;
  align-self: flex-start;
}

.form_row1 input,
.form_row2 input,
.form_row2 select {
  width: 280px;
  height: 41px;
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  padding: 0 8px;
}

.form_row1,
.form_row2 {
  display: flex;
  gap: 40px;
}

.form_row2_select {
  overflow: hidden;
  background: url("./phtos/arrow.svg") no-repeat right white;
  display: inline-block;
  position: relative;
  background-size: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.form_form span::before {
  content: "*";
  color: red;
}

.form_form textarea {
  width: 600px;
  max-width: 2000px;
  min-width: 600px;
  height: 135px;
  max-height: 180px;
  min-height: 100px;
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  padding: 10px 8px;
}

.form_form button {
  width: 270px;
  height: 55px;
  background-color: #2947a9;
  border-radius: 2px;
  border: 0px;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

.form_form button:hover {
  background-color: gray;
  color: red;
  transition: 0.2s;
}

.form_row1 input::placeholder,
.form_row2 input::placeholder,
.form_form textarea::placeholder {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #a3aac2;
}

.form_row2 select {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #a3aac2;
  background-color: white;
}

.f_info {
  width: 100%;
  height: 380px;
  padding: 85px 100px;
  display: flex;
  justify-content: space-between;
}

.f_info_left {
  width: 50%;
  height: 100%;
}

.f_info_left_text {
  display: flex;
  margin-bottom: 32px;
  gap: 20px;
}

.f_info_left_blue {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #2947a9;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.f_info_left_black {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.f_info_left_logo {
  display: flex;
  width: 100%;
  gap: 6px;
  align-items: center;
}

.f_info_left_logo h2 {
  color: #2947a9;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: italic;
}

.f_info_left_logo h2::before {
  content: url(./phtos/logo2.svg);
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.f_info_left_logo h2::after {
  content: "Box";
  font-style: normal;
}

.f_info_right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.f_info_right_form label {
  color: #2947a9;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.f_info_right_form input {
  width: 280px;
  height: 40px;
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  padding: 0 8px;
  margin-top: 20px;
}

.f_info_right_form input::placeholder {
  color: #a3aac2;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.f_info_right_form button {
  width: 135px;
  height: 40px;
  border: 0px;
  background-color: #f9995d;
  border-radius: 4px;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-left: 6px;
  transition: 0.5s;
  cursor: pointer;
}

.f_info_right_form button:hover {
  background-color: gray;
  border-color: #3559c7;
  transition: 0.2s;
  color: red;
}

.f_info_right p {
  color: #2947a9;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 40px 0 20px 0;
}

.f_info_right_images {
  display: flex;
  gap: 20px;
}

.f_end {
  width: 100%;
  height: 70px;
  background-color: #2947a9;
}

.f_end p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  padding: 25px 0 25px 100px;
}
