@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Mozilla+Text:wght@200..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 112px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}

h1 {
  color: #2947a9;
  font-family: "Work Sans", sans-serif;
}

ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

a {
  text-decoration: none;
}

.header_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.header_menu_item a {
  font-weight: 600;
  font-size: 18px;
  color: #14171f;
  font-family: "Work Sans", sans-serif;
  transition: 1s;
}

.header_menu_item_spec a {
  color: #f9995d;
}

.header_menu_item a:hover {
  color: aqua;
  font-size: 25px;
  transition-duration: 1s;
}

.banner {
  background-image: url(./phtos/banner1.jpg);
  width: 100%;
  height: 646px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  /* opacity: 60%; */
}

.banner_left {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 72px;
  align-self: center;
  margin-left: 112px;
  width: 556px;
}

.banner_right {
  color: white;
  text-align: center;
  background-color: #3559c7;
  width: 416px;
  height: 190px;
  padding: 20px 0 0 0;
  align-self: flex-end;
}

.banner_right h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.banner_right p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 26px 0;
}

.banner_right_buttons {
  display: flex;
}

.banner_right_buttons button {
  width: 208px;
  height: 40px;
  border: 0px;
  background-color: #292e3d;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.banner_right_buttons button:first-child {
  border-right: 1px solid white;
}

.banner_right_buttons button:hover {
  color: red;
  background-color: #404e77;
}

.reputation {
  width: 100%;
  height: 433px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.reputation_head {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.reputation_box {
  width: 292px;
  height: 197px;
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  padding: 20px;
  transition: 1s;
}

.reputation_boxes {
  display: flex;
  justify-content: center;
  gap: 66px;
}

.reputation_box h2 {
  color: #3d445c;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 18px 0;
}

.reputation_box p {
  color: #858ead;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.reputation_box:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 1s;
}

.aboutus {
  width: 100%;
  height: 945px;
  display: flex;
  position: relative;
  align-items: center;
  margin: 100px 0;
}

.aboutus img {
  /* width: 902px;
  height: 669px; */
  width: 1202px;
  height: 892px;
  position: absolute;
  left: 152px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.aboutus_box {
  background-color: #2947a9;
  width: 488px;
  height: 523px;
  padding: 50px 40px;
  color: white;
  position: absolute;
  right: 250px;
}

.aboutus_box h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 37px;
}

.aboutus_box p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.aboutus_box_button {
  width: 219px;
  height: 53px;
  border-radius: 6px;
  background-color: white;
  margin: 90px 0 26px 0;
  cursor: pointer;
}

.aboutus_box_button a {
  color: #2947a9;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.services {
  width: 100%;
  height: 608px;
  background-color: #f6f8f7;
  text-align: center;
}

.services h2 {
  color: #292e3d;
  font-size: 36px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  padding-top: 44px;
}

.services_boxes {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin: 36px 0 48px 0;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.services_box1 {
  width: 271px;
  height: 181px;
  background-color: white;
  color: #2947a9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 1s;
}

.services_box2 {
  width: 271px;
  height: 181px;
  background-color: #2947a9;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 1s;
}

.services_box1 hr,
.services_box2 hr {
  width: 60px;
  height: 2px;
  color: #e0e3eb;
  align-self: center;
}

.services_box1 img,
.services_box2 img {
  width: 40px;
  height: 40px;
  align-self: center;
}

.services_box1:hover,
.services_box2:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: 1s;
}

.experience {
  width: 100%;
  height: 723px;
}