* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f8ff;
}

.login_section {
  height: 280px;
  width: 800px;
  /* display: inline-block; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 0;
  border-radius: 20px;
  /* No border, because box-sizing:border-box and padding:60px 0 are used */
  /* border: 15px solid #e6e6fa; */
  box-shadow: #e6e6fa 0px 0px 0px 15px;
  background-image: linear-gradient(to right, #4169e1, #2a52be);
  text-align: center;
  color: #f0f8ff;
}

.login_section h2 {
  /* from Google Fonts */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100; */
}

.login_section p {
  margin: 10px 0 20px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.login_section_email form input {
  width: 320px;
  height: 50px;
  position: relative;
  border-radius: 50px;
  background-color: #8094dc;
  /* opacity: 70%; */
  padding-left: 20px;
  padding-right: 50px;
  border: 0;
}

input::placeholder {
  color: #e9edfa;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.login_section_email form button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  position: absolute;
  right: 247px;
  bottom: 78px;
}

.login_section_email form button img {
  width: 20px;
  height: 20px;
}

.login_section_people {
  position: relative;
}

.login_section_people_photos {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -147px;
  width: 800px;
  height: auto;
}

.login_section_people_photos img {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  border: 0;
  /* border: 5px solid white; */
  box-shadow: white 0px 0px 0px 5px;
  transition: 1s;
}

.login_section_people_photos img:hover {
  transition: 1s;
  transform: rotate(360deg);
  width: 80px;
  height: 80px;
}

.login_section_people_photos img:nth-child(2) {
  margin-left: 40px;
}
.login_section_people_photos img:nth-child(3) {
  margin: 0 40px;
}
.login_section_people_photos img:nth-child(4) {
  margin-right: 40px;
}
